body {
  font-family: Avenir;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

.container {
  margin: 20px auto;
  width: 73%;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 1em;
  background-color: #ecf0f1;
  text-align: center;
}

label{
    display: inline-block;
    width: 125px;
    margin: 5px;
}

/**********************************
GENERAL
***********************************/

#title {
  text-align: center;
}

.grav_small {
  width: 100px;
  height: 100px;
  border-radius:  10px;
}

.gravatar {
  border-radius: 10px;
}

a {
  text-decoration: none;
  padding: 5px 1em;
  font-weight: bold;
  color: 11111;
}

h1 {
  /*font-family: 'Changa One', sans-serif;*/
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h3 {
  margin: 0 0 1em 0;
}

ul {
  list-style: none;
}


/**********************************
HEADING
***********************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  text-align: center;
}

#logo {
  font-family: Ubuntu;
  text-align: center;
  margin: 0;
  color: #fff;
  /*display: inline-block;*/
}



/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

/**********************************
LOGO
***********************************/
.logo_img {
  width: 300px;
  height: 150px;
}

/**********************************
PROFILE PAGE
***********************************/

#tweet {
  background-image:url('http://i.imgur.com/5AgKiqb.png');
  background-repeat:no-repeat;
  margin: 0px auto 40px;
  width: 70%;
  height: 90px;
  padding: 5px 30px 20px 30px;
  text-align: center;
  color: black;
}

.tweet_container {
  width: 70%;
  margin: 0 auto;
  padding: 5% 5% 0%;
  text-align: center;
  border-radius: .5em;
  background-image:url('http://i.imgur.com/YsLEb96.jpg');
}

.text_input {
  width: 90%;
}


.tweet_form {
  padding-top: 0px;
  /*border-top: 1px solid black;*/
}

.tweet_list {
  padding-top: 2em;
}

.tweet_list ul p {
  font-size: 0.75em;
  margin:0;
}

.tweet_list ul li {
  margin-bottom: 0.5em;
}


/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}


/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}

/* green header */
header {
  background: #34495e;
  border-color: #2980b9;
}

/* nav background on mobile */
nav {
  background: #2980b9;
}

/* logo text */
/*h1, h2 {
  color: #fff;
}*/

/* links */
a {
  color: #bdc3c7;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #49a2df;
}


@media screen and (min-width: 480px) {

  /**********************************
  TWO COLUMN LAYOUT
  ***********************************/

  .container {
    text-align: left;
  }

  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }


  #tweet {
    height: 70px;
  }
  /**********************************
  PAGE: PORTFOLIO
  ***********************************/

  #gallery li {
    width: 28.3333%;
  }

  #gallery li:nth-child(3n) {
    clear: none;
  }

  #gallery li:nth-child(4n) {
    clear: left;
  }

  /**********************************
  PAGE: ABOUT
  ***********************************/

  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }

  #mn_poster {
    float: right;
    margin: 30px 0 0 5%;
  }

}

@media screen and (min-width: 850px) {

  /**********************************
  HEADER
  ***********************************/

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    /*font-size: 0.825em;*/
    margin-bottom: 20px;
  }

  header {
    border-bottom: 5px solid #2980b9;
    margin-bottom: 60px;
  }

.grav_small {
  display: inline-block;
  float: left;
}

#tweet {
  display: inline-block;
  background-repeat:no-repeat;
  margin: 0px auto 40px;
  width: 60%;
  height: 70px;
  padding: 5px 30px 20px 30px;
  text-align: center;
  color: black;
}

.tweet_container {
  padding: 5% 5% 0%;
  border-radius: .5em;
}


  .text_input {
    width: 90%;
    max-width: 300px;
  }

  .tweet_input {
  width: 80%;
  max-width: 600px;
}

}

/**********************************
CLEARFIX
***********************************/

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}


