<div class="profile container">
  <h3><%= @user.handle %><br>
  <%= @user.name %></h3>

  <h3>Followers</h3>
  <ul>
    <% @followers.each do |follower| %>
      <li><a href="/profile/<%= follower.handle %>"><%= follower.handle  %></a></li>
    <% end %>
  </ul>
</div>