
<!--############## SIGN UP FORM #############-->

<div class="container">
  <form action="/sign_up" method="post">
    <h3> Sign Up: </h3> <br>
    <label>Fullname: </label><input class="text_input" type="text" name="name">  <br>
    <label>Handle: </label><input class="text_input" type="text" name="handle">  <br>
    <label>Password: </label><input class="text_input" type="password" name="password_hash">  <br>
    <label>Email: </label><input class="text_input" type="text" name="email">  <br>
    <input type="submit" value="Submit">
  </form>
</div>

<!--############## LOGIN FORM #############-->


<div class="container">
  <form action="/login" method="post">
    <h3> Login: </h3> <br>
    <label>Handle: </label><input class="text_input" type="text" name="handle">  <br>
    <label>Password: </label><input class="text_input" type="password" name="password_hash">  <br>
    <input type="submit" value="Submit">
  </form>
</div>
