<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

</head>

  <!--############## HEADER ###############-->

<header class="clearfix">
  <div class="company_header"
    <a href="/" id="logo">
      <img class="logo_img" src='http://i.imgur.com/SUv8jfN.png'>
    </a>
  </div>


  <% if logged_in? %>
    <nav>
      <ul>
        <li><a href="/profile/<%= current_user.handle %>/following/tweets">Home</a></li>
        <li><a href="/profile/<%= current_user.handle %>">Profile</a></li>
        <li><a href="/list_all_users">Users</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  <% end %>
</header>

  <!--############## BODY ###############-->

<body>
  <div id="title"><a href=""></a>      </div>

  <div id="wrapper">

    <%= yield %>
  </div>
</body>
</html>

