<div class="container">
  <h3> Result: </h3>

  <% @users.each do |user| %>
    <li> Handle: <a href="/profile/<%= user.handle %>"><%= user.handle %></a> </li>
    <li> Fullname: <%= user.name %> </li>
    <hr>
  <% end %>
</div>